:root {
  --heading-color: #666;
  padding: 1em;
}

body {
  font-family: Lato;
  max-width: 1024px;
  
  margin: 1rem auto;
  padding: 2rem 1rem 3rem 1rem;
  
}
body>div {
  background: #f1ede1;
  border-radius: 1.5rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 1rem;
  
  
}

.grid-container__item {
  display: flex;
  flex-direction: column;
}

.box {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  background: #fff;
}

.item1 {
  flex: 1;
  margin-bottom: 2rem;
}
.item2 {
  flex: 1;
}

.item3 {
  flex: 2;
}

img {
  width: 25px;
  vertical-align: initial;
}

h2 {
  margin-top: 2rem;
  display: block;
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
  color: var(--heading-color);
}

h2 + div > h3 {
  display: none;
}

h3 {
  margin: 0;
  margin-top: 1rem;
  color: var(--heading-color);
}

ol > li::marker {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--heading-color);
}

div {
  padding: 0.5rem;
}

.codeBlock {
  font-family: monospace;
}
