:root {
  --heading-color: #666;
  --heading-color_alt: #fff;
  --brand-color_1: #f1f1f1;
  --brand-color_2: #3f3e3f;
  padding: 1em;
}

body {
  font-family: Lato;
  max-width: 1024px;
  
  margin: 1rem auto;
  padding: 2rem 1rem 3rem 1rem;
  
}
body>div#root>div {
  background: var(--brand-color_1);
  border-radius: 1.5rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

body>div#root>div.alt-theme {
  background: var(--brand-color_2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1rem;  
  justify-items: stretch;
  align-items: stretch;
}

.grid-container__item {
  display: flex;
  flex-direction: column;
}

.box {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  background: #fff;
}

.item1 {
  flex: 1;
  margin-bottom: 2rem;
}
.item2 {
  flex: 1;
}

.item3 {
  flex: 2;
}

img {
  width: 25px;
  vertical-align: initial;
}

h1 {
  color: var(--heading-color);
  padding-left: .5em;
}

h2 {
    padding: 2rem 1em 1em 1em;
    display: block;
    color: var(--heading-color);
    background: var(--brand-color_1);
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    margin: 0;
}

h2 + div > h3 {
  display: none;
}

.alt-theme h1, .alt-theme h2 {
  color: var(--heading-color-alt);
}

h3 {
  margin: 0;
  margin-top: 1rem;
  color: var(--heading-color);
  cursor: pointer;
}

ol > li::marker {
  font-weight: bold;
  font-size: 1rem;
  color: var(--heading-color);
}

div {
  padding: 0.5rem;
}

.codeBlock {
  font-family: monospace;
}
