:root {
  --heading-color: #666;
  padding: 1em;
}

body {
  font-family: Lato;
  max-width: 768px;
  border-radius: 1.5rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
  padding: 2rem 1rem 3rem 1rem;
}

.grid-container {
  display: grid;
}

img {
  width: 25px;
  vertical-align: initial;
}

h2 {
  margin-top: 2rem;
  display: block;
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
  color: var(--heading-color);
}

h2 + div > h3 {
  display: none;
}

h3 {
  margin: 0;
  margin-top: 1rem;
  color: var(--heading-color);
}

ol > li::marker {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--heading-color);
}

div {
  padding: 0.5rem;
}

.codeBlock {
  font-family: monospace;
}
